---
import SectionTitle from '@/components/SectionTitle.astro';
import { getCollection } from 'astro:content';

const { dark = false } = Astro.props;

const aboutContent = await getCollection('about');
const aboutData = aboutContent[0].data.about;
---

<section id="sobre" class={`relative py-20 px-6 ${dark ? 'bg-dark-1 text-gray-100' : 'bg-background text-text'}`}>
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
    <div class="flex justify-center">
      <img src="/assets/studio.png" alt="Elô Alcântara" />
    </div>

    <div>
      <SectionTitle>Sobre o Studio</SectionTitle>

      {aboutData.map((section) => <p class="text-lg mb-4 font-sans-2" set:html={section.content} />)}
    </div>
  </div>
</section>
