---
import { getEntry } from 'astro:content';
import FaqItem from '@/components/FaqItem.astro';
import SectionTitle from '@/components/SectionTitle.astro';

const { dark = false } = Astro.props;

const { data } = await getEntry('faqs', 'faqs'); // 'faqs' é a pasta, 'faqs.md' é o slug

const faqs = data.faqs;
---

<section id="faq" class={`py-20 px-6 ${dark ? 'bg-dark-1 text-gray-100' : 'bg-background text-text'}`}>
  <div class="max-w-4xl mx-auto">
    <SectionTitle>Dúvidas comuns</SectionTitle>

    <div class="space-y-6 mt-8">
      {faqs.map((item, index) => <FaqItem key={index} question={item.question} answer={item.answer} dark={dark} />)}
    </div>
  </div>
</section>
